* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

/* @media (max-width: 768px) {
    .wrap-input.rs1 {
      width: 100%;
    }
}
  
@media (max-width: 576px) {
    .wrap-contact {
      padding: 92px 15px 88px 15px;
    }
} */

body {
    font-family: OpenSans-Regular;
    background-image: url(../images/pet_bg.jpg);
}

.flex-sb {
	display: flex;
	justify-content: space-between;
}

.flex-w {
	display: flex; 
	flex-wrap: wrap;
}

button {
    outline: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

input {
    outline: none;
    border: none;
}
 
textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent;
} 
  
.container-contact {
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: transparent;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}
  
.container-contact::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(173,173,173,0.4);
    border-radius: 10px;
}
  
.wrap-contact {
    width: 800px;
    background: #fff;
    border-radius: 2px;
    position: relative;
    margin-top: 55px;
    padding: 92px 70px 88px 70px;
    border-radius: 10px;
}

.wrap-contact:hover {
    box-shadow: 1px 1px 10px #454242;
}
  
.contact-form-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid #e7e7e7;
    border-radius: 50%;
    background: #fff;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
}

.contact-form-title {
    width: 100%;
    display: block;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 43px;
}
  
.wrap-input {
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    margin-bottom: 30px;
}
  
.wrap-input.rs1 {
    width: calc((100% - 20px) / 2);
}
  
.input {
    display: block;
    width: 100%;
    background: transparent;
    color: #333333;
    line-height: 1.2;
}
  
input.input {
    height: 60px;
    padding: 0 20px 0 25px;
    font-size: 20px;
}
  
textarea.input {
    min-height: 199px;
    padding: 25px 20px 15px 25px;
    font-size: 15px;
}
  
.focus-input {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #ff4b5a;
    border-radius: 2px;
    visibility: hidden;
    opacity: 0;
}
  
.input:focus + .focus-input {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/* .focus-input:hover {
    background-color: #ff4b5a;
    transform: scale(1.1);
} */
  
.container-contact-form-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: -10px;
}
  
.contact-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 100px;
    height: 50px;
    background-color: #ff4b5a;
    border-radius: 2px;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    transition: all .2s ease-in-out;
}
  
.contact-form-btn:hover {
    background-color: #533d0a;
    transform: scale(1.1);
}
  
@media (max-width: 768px) {
    .wrap-input.rs1 {
      width: 100%;
    }
}
  
@media (max-width: 576px) {
    .wrap-contact {
      padding: 92px 15px 88px 15px;
    }
}
  